h2{
   text-align: center;

}
h2 img{
    width: auto;
    height: auto;
}
h3 img{
    width: 100px;
    height: 100px;
    display: block;
   
    margin-top: -1300px;
    margin-left: -1px;

}

h1{
    text-align: center;
    
}